.tab {
  transition: background-color 0.2s ease-out;
  font-weight: 500;
  &[data-active] {
    background-color: var(--mantine-primary-color-2);
    color: var(--mantine-primary-color-1);
    border-bottom: 2px solid var(--mantine-primary-color-9);
    font-weight: 800;
  }
  @mixin hover {
    background-color: var(--mantine-primary-color-1);
  }
}